.one-column {
    display: grid;
    grid-gap: 21px;
    grid-template-columns: 1fr;
  }
  
  
.two-column {
    display: grid;
    grid-gap: 21px;
    grid-template-columns: 1fr 1fr;
  }
  
  
  .three-column {
    display: grid;
    grid-gap: 21px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px auto;
  }

  .right-side {
    display: block;
    margin-left: 20px;
  }


  .left-side {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  .publication_img {
    margin-top: 40px;
    padding-top: 40px;
  }

  .magazine_content {
    margin: auto;
    display: block;   

    font-weight: 400;

    a {
        text-decoration: none;
        color: #808080;
        
        &:hover {
            font-size: 1.1em;
            color: #651fff;
            font-weight: 900;
        }
    }
}


 .magazine_content:after {
  display: table;
}
  .magazine_img {
    height: 500px;

  }

  .magazine_content__caption :a {
    margin-left: 20px;
   
}


  .about_wrapper {
    margin-top: 30px;
    padding: 30px;
    background-color: #FED880;
    color: black;
  }

  .about__title {
    font-size: 1.5em;

  }
  
  .about__txt {
  
  }

  .home_title {
    color:  black;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 20px;

  }


  .text_one, 
  .text_two,
  .text_three {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.8;

  }

  .text_three {
    border-right: 1px solid;
  }