.logos-wrapper {

    text-align: center;
    display: grid;
}

.card {
    margin: 10px;
    box-shadow: 0px 0px 3px 1px #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
    height: 500px;
    text-align: center;  
    background-color: #f6f6f6;

    .left-side {
        margin: auto;
    }

    .right-side {
        margin: auto;
    }
    
}

.card-image {
    width: 400px;
    padding: 10px;
    object-fit: cover;
}

.card-title {
    align-items: center;
    font-size: 24px;
    font-weight: 900;

}

.rec-carousel-wrapper {
    width: auto;
    height: fit-content;
    align-items: center;
   display: flex;
   column-gap: 25px;


   .rec-carousel-item {
        height: 550px;
        object-fit: cover;
    }
    .rec-pagination {
        position: relative;
        padding-top: 5px;
    }

}


.slides {
      width: 500px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    align-items: center;


  }

