body {
    font-family: 'Roboto Slab', serif;
    color: #808080;;

}

.app {
    margin-top: 2rem;
    display: grid;
}


@import "./variables.scss";
@import "./navigation.scss";
@import "./footer.scss";