body {
    font-family: 'Roboto Slab', serif;
    color: #808080;

}

.app {
    margin: 2rem;
    display: grid;
}

.pages_title {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

.contact_wrapper {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
}

.clients_lists  {
    margin-left: 20px;
    font-weight: 400;

    a {
        text-decoration: none;
        color: #808080;
        
        &:hover {
            font-size: 1.1em;
            color: #651fff;
            font-weight: 900;
        }
    }
}

  

@import "./variables.scss";
@import "./navigation.scss";
@import "./footer.scss";
@import "./form.scss";
@import "./grids.scss";
@import "./skills.scss";
@import "./search.scss";